{% include "common/header_admin.html.twig" %}
<main>
<div class="wrapper">
		<div class="container">
			<div class="wrapper-title text-center">
				<h3>会員管理</h3>
			</div>
			<button type="button" class='btn btn-primary' onclick="location.href='{{ENTRY_URL}}create_dm.php'">メルマガ配信</button>
			<button type="button" class="btn btn-secondary" onclick="location.href='{{ENTRY_URL}}download.php'">CSV出力</button>
			<br><p></p><br>
			<div class="row">
			<div class="col-6">
			<form class="serch" action="{{ENTRY_URL}}users.php" method="GET">
				<input type="text" name="first_name" placeholder="名前検索"><br><br>
				<button type="submit" class="btn btn-primary">名前検索</button>
			</form>
			</div>
			<div class="col-6">
			<form class="serch" action="{{ENTRY_URL}}users.php" method="GET">
				<input type="text" name="mail" placeholder="メールアドレス検索"><br><br>
				<button type="submit" class="btn btn-primary">アドレス検索</button>
			</form>
			</div>
			</div>
			<div class="list">
				<table class="sort-table">
					<thead>
						<tr>
							<th class="text-center">id</th>
							<th class="text-center">名前</th>
							<th class="text-center">メールアドレス</th>
							<th class="text-center">DM配信</th>
							<th class="text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						{% for value in customer %}
							<tr>
								<td class="text-center">{{ attribute(value,'id') }}</td>
								<td class="text-center">{{ attribute(value,'first_name') }}</td>
								<td class="text-center">{{ attribute(value,'mail') }}</td>
								{% if attribute(value, 'dm') == 1 %}
									<td class="text-center">受信する</td>
								{% else %}
									<td class="text-center">受信しない</td>
								{% endif %}
								<td class="text-center">
									<button type="button" class="btn btn-info" onclick="location.href='{{ENTRY_URL}}edit_user.php?id={{ attribute(value,'id') }}'">編集</button>
									<button type="button" class="btn btn-danger delete" data-id='{{ attribute(value,'id') }}' >削除</button>
									<form method="POST" action="{{ENTRY_URL}}/delete_user.php" id="delete_form_{{ attribute(value,'id')}}">
										<input type="hidden" value='{{ attribute(value,'id') }}'  name="id">
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

{% include "common/paging.html.twig" %}

		</div>
	</div>
</div></main>{% include "common/footer.html.twig" %}