<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookList</title>
</head>
<body>
<div id="wrapper">
{% include 'category_menu.html.twig' %}
<div id="Book_list">
{% for value in dataArr %}
<div class="Book"></div>
<ul>
<li class="name"><a href="{{ constant('Boost::ENTRY_URL') }}detail.php?id={{ value.id }}">{{ value.title }}</a></li>

<li class="price">&yen;{{value.price|number_format(0,'.', ',')}}</li>

<li class="image"><a href="{{ constant('Boost::ENTRY_URL') }}detail.php?id={{ value.id }}"><img src="{{ constant('Boost::ENTRY_URL') }}" alt="{{ value.title }}"></a></li>

<li class="detail"><a href="{{ constant('Boost::ENTRY_URL') }}detail.php?id={{ value.id }}">詳細</a>
</li>

</ul>
</div>
{% endfor %}
</div>
</div>
</body>
</html>