<!DOCTYPE html>
<html lang="jp">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFLEE6WX4R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFLEE6WX4R');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookList</title>
</head>
<body>

<a href="{{ constant('config\\Bootstrap::APP_URL') }}" >トップページへ</a>

<div id="wrapper">
{% include 'category_menu.html.twig' %}
<div id="Book_list">
{% for value in dataArr %}
<div class="Book"></div>
<ul>

<li class="title"><a href="{{ constant('config\\Bootstrap::ENTRY_URL')}}detail.php?Book_id={{value.book_id}} ">{{ value.title }}</a></li>

<li class="price">&yen;{{ value.price|number_format(0, '.', ',') }}</li>

<li class="image">
<a href="{{ constant('config\\Bootstrap::ENTRY_URL') }}detail.php?Book_id={{ value.book_id }}">

<img src="{{ constant('config\\Bootstrap::ENTRY_URL') }}image/{{ value.image }}" alt="{{ value.title }}"></a></li>

</ul>
</div>
{% endfor %}
</div>
</div>

<a href="{{ constant('config\\Bootstrap::APP_URL') }}" >トップページへ</a></li>
</body>
</html>