{% include "common/header.html.twig" %}
	<main>
	<div class="wrapper last-wrapper">
		<div class="container">
			<div class="wrapper-title">
				<h3>BOOK</h3>
				<p>書籍一覧</p>
			</div>
		</div>

	<div class="itemlist">
		<ul>
			{% for value in Book_data %}
					<li>
					<form action="../../shopping/Booklist.php" method="POST" class="item-form" >
					<img src="{{constant('config\\Bootstrap::BOOK_IMAGE_DIR')}}{{ attribute(value,'image') }}" class="w-100">
					<div class="item-body">
						<h5>{{ attribute(value,'title') }}</h5>
						<input type="hidden" name="Book_title" value={{ attribute(value,'title')}}>
						<p>価格　￥{{ attribute(value,'price') }}</p>
						<input type="hidden" name="Book_price" value={{ attribute(value,'price')}}>
						<p>{{  attribute(value,'detail')|slice(0,40) }}...</p>
						<div class="item-form">
							<input type="text" value="1" name="Book_count">
							<button type="submit" class="btn-sm btn-blue">カートに入れる</button>
							</form>
						</div>
					</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</main>
 {% include "common/footer.html.twig" %}