 <main>
        <div class="breadcrumbs">
            <div class="container">
                <ul>
                    <li><a href="index.php">TOP</a></li>
                    <li>カート</li>
                </ul>
            </div>
        </div>
        <div class="wrapper last-wrapper">
            <div class="container">
                <div class="wrapper-title">
                    <h3>MY CART</h3>
                    <p>カート</p>
                </div>
                <div class="cartlist">
                <table class="cart-table">
                <thead>
                <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>個数</th>
                <th>小計</th>
                <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for cart_in_Book in Books_cart %}
                  <tr>
                  <td label="商品名:">{{ attribute(cart_in_Book,'Book_title') }}</td>
                  <td label="価格:" class="text-right">￥{{ attribute(cart_in_Book,'Book_price') }}</td>
                  <td label="個数:" class="text-right">{{ attribute(cart_in_Book,'Book_count') }}</td>
                  <td label="小計:" class="text-right">￥{{ attribute(cart_in_Book,'Book_price') * attribute(cart_in_Book,'Book_count') }}</td>
                  <td>
                  <form action="../../shopping/cart.php" method="post">
                  <input type="hidden" name='delete_name' value={{ attribute(cart_in_Book,'Book_title') }}>
                  <button type="submit" class="btn btn-red">削除</button>
                  </form>
                  </td>
                  </tr>
{% endfor %}
<tr class="total">
	<th colspan="3">合計</th>
	<td colspan="2">
    <p>￥{{ total }}</p>
    {% if login == true %}
        <span style='color:red'>会員特別価格(30%OFF)</span>
    {% endif %}

</tr>
            </tbody>
</table>
                <div class="cart-btn">
   
    {% if Books_cart is not empty %}
        {% if login == true %}
    <button type="button" class="btn btn-blue" onclick="location.href='pay.php'">購入手続きへ</button>
    {% else %}
    <button type="button" class="btn btn-blue" onclick="location.href='../../create_account/Login.php'">ログインして購入手続きへ</button>
    <button type="button" class="btn btn-blue" onclick="location.href='../../create_account/Login.php'">ログインせずに購入手続きへ</button>
    {% endif %}
    {% endif %}

<button type="button" class="btn btn-gray" onclick="location.href='Booklist.php'">お買い物を続ける</button>
                </div>
            </div>
        </div>
    </main>