<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/lib/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ APP_URL }}js/shopping.js" rel ="stylesheet"></script>
  <link href="{{ APP_URL }}css/shopping.css" rel ="stylesheet">
</head>
<body>
<input type="hidden" name="entry_url" value="{{ constant('config\\Bootstrap::ENTRY_URL') }}" id="entry_url">
<div id="wrapper">
{% include "category_menu.html.twig" %}
<div id="Book_detail">
<div class="image">
<img src="{{ constant('config\\Bootstrap::ENTRY_URL') }}image/{{ BookData.image }}" alt="{{ BookData.title }}">
</div>
<div class="detail">
<dl>
<dt>商品名</dt>
<dd>{{ BookData.title }}</dd>
<dt>詳細</dt>
<dd>{{ BookData.detail }}</dd>
<dt>価格</dt>
<dd>&yen;{{ BookData.price|number_format(0, '.', ',') }}</dd>
<input type="hidden" name="Book_id"="Book_id" value="{{ BookData.Book_id }}">
</dl>
</div>
<form action="cart.php" method="post">
<input type="button" name="back" value="一覧へ戻る" onclick="history.back(); return false;">
<input type="button" name="cart_in" value="ショッピングカートへ入れる" id="cart_in">
</form>
</div>
</div>
</body>
</html>