 <main>
        <div class="breadcrumbs">
            <div class="container">
                <ul>
                    <li><a href="index.php">TOP</a></li>
                    <li><a href="cart.php">カート</a></li>
                    <li>ご購入者情報</li>
                </ul>
            </div>
        </div>
        <div class="wrapper last-wrapper">
            <div class="container">
                <div class="wrapper-title">
                    <h3>ご購入者情報</h3>
   <form class="pay-form"  action="../../shopping/pay_end.php" method="POST">
       <div class="form-group">
           <p class="form-title">お名前 *</p>
           {{ family_name }} {{first_name}}
           <input type="hidden" name="family_name" value={{family_name}} >
           <input type="hidden" name="first_name" value={{first_name}} >
       </div>
       <div class="form-group">
           <p class="form-title">mail *</p>
           {{ mail }}
           <input type="hidden" name="mail" value={{mail}} >
       </div>
       <div class="form-group">
           <p class="form-title">電話番号 *</p>
           {{ tel1 }}-{{ tel2 }}-{{ tel3 }}
           <input type="hidden" name="tel1" value={{tel1}} >
           <input type="hidden" name="tel2" value={{tel2}} >
           <input type="hidden" name="tel3" value={{tel3}} >
       </div>
       <div class="form-group">
           <p class="form-title">お届け先 *</p>
           <label>郵便番号</label><br>
           {{ zip1 }}-{{ zip2 }}
           <input type="hidden" name="zip1" value={{zip1}} >
           <input type="hidden" name="zip2" value={{zip2}} >
           <br><label>住所</label><br>
           {{ address}}
           <input type="hidden" name="address" value={{address}} >
       </div>
       <p>この内容で送信してよろしいですか？</p>
       <button type="submit" class="btn btn-blue">購入する</button>
       <button type="button" class="btn btn-gray" onclick="location.href='../../shopping/pay.php'">修正する</button>
   </form>
                    </div>
            </div>
        </div>
    </main>