<!DOCTYPE html>
<html lang="jp">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFLEE6WX4R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFLEE6WX4R');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>会員登録確認画面</title>
</head>
<body>
  <h1>会員登録確認画面</h1>

  {% if {{ errors }} === 0 %}:
  
  <form action="registration_insert.php" method="post">
  
  <p>メールアドレス:{{ mail }}</p>
  <p>アカウント名:{{ account }}</p>
  <p>パスワード:{{ pass }}</p>
  
  <input type="button" value="戻る" onClick="history.back()">
  <input type="hidden" name="token" value="{{ token }}">
  <input type="submit" value="登録する">

  </form>

  {% elseif {{ errors }}  > 0 %}:

  {% for value in errros %}
{{ {{ attribute( value ) }}}}

{% endfor %}

  <input type="button" value="戻る" onclick="history.back" >


  {% endif %}
  
</body>
</html>