<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFLEE6WX4R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFLEE6WX4R');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メール確認画面</title>
</head>
<body>
  <h1>メール確認画面</h1>

{% if count({{ errors }}) === 0 %}
<p>{{ message }}%</p>

<p>↓このURLが記載されたメールが届きます。</p>
<a href="{{ url }}">{{ url }}</a>

{% elseif ({{ errors }} as {{ value }}) %}
echo "<p>" . {{ value }} .b "</p>";

<input type="button" value="戻る" onclick="histroy.back()">

{% endif %}
</body>
</html>