{% include "common/header_admin.html.twig" %}
<main>
	<div class="wrapper">
		<div class="container">
			<div class="wrapper-title">
				<h3>関連商材データ新規作成</h3>
			</div>
			<form class="edit-form" method="POST" action="{{ENTRY_URL}}/sub_product.php" enctype="multipart/form-data">
				<div class="form-group">
					<p>商品名</p><input type="text" name="title"></div>
				<div class="form-group">
					<p>説明文</p>
					<textarea name="detail"></textarea>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<p>価格</p><input type="text" name="price"></div>
					</div>
					<div class="col">
						<div class="form-group">
							<p>画像</p><input type="file" name="image" class="imgform">
						</div>
					</div>
				</div>
				<div class="form-group">
					<p>発売日</p><input type="text" name="date"></div>
				<div class="form-group">
					<p>関連商材名</p>
					<select name="ctg_id">
						<option value="1">{{Book_ctg[0]}}</option>
						<option value="2">{{Book_ctg[1]}}</option>
						<option value="3">{{Book_ctg[2]}}</option>
						<option value="4">{{Book_ctg[3]}}</option>
						<option value="5">{{Book_ctg[4]}}</option>
						<option value="6">{{Book_ctg[5]}}</option>
					</select>
				</div>
				<div class="row">
					<div class="col">
						<p>カテゴリ1</p>
						<select name="ctg1">
							<option value="1">食品</option>
							<option value="2">サプリ</option>
							<option value="3">ガジェット</option>
							<option value="4">家具・寝具</option>
							<option value="5">美容品</option>
						</select>
					</div>
					<div class="col">
						<p>カテゴリ2</p>
						<select name="ctg2">
							<option value="1">ストレス対策</option>
							<option value="2">アンチエイジング</option>
							<option value="3">集中力改善</option>
							<option value="4">睡眠改善</option>
							<option value="5">ダイエット</option>
						</select>
					</div>
				</div>
				<input type="hidden" name="last_update">
				<button type="submit" class="btn btn-blue">登録</button>
			</form>
		</div>
	</div>
</main>
{% include "common/footer.html.twig" %}
