{% include "common/header_admin.html.twig" %}
<main>
	<div class="wrapper">
		<div class="container">
			<div class="wrapper-title">
				<h3 class="text-center">関連商材データ新規作成</h3>
			</div>
			<form class="edit-form" method="POST" action="{{ENTRY_URL}}/sub_product.php" enctype="multipart/form-data">
				<h3 class="text-center">商品名</h3><input class="border-4 border-info" type="text" name="title">
				<h3 class="text-center">商品説明文</h3>
				<textarea class="border-4 border-info" name="detail"></textarea>
				<div class="row">
					<div class="col">
						<h3 class="text-center">価格</h3><input class="border-4 border-info" type="text" name="price">
						<div class="col">
							<h3 class="text-center">画像</h3><input type="file" name="image" class="imgform border-4 border-info">
						</div>
					</div>
					<h3 class="text-center">発売日</h3><input class="border-4 border-info" type="text" name="date">
					<h3 class="text-center">関連商材名</h3>
					<select class="border-4 border-info text-center" name="ctg_id">
						<option value="1">{{book_ctg[0]}}</option>
						<option value="2">{{book_ctg[1]}}</option>
						<option value="3">{{book_ctg[2]}}</option>
						<option value="4">{{book_ctg[3]}}</option>
						<option value="5">{{book_ctg[4]}}</option>
						<option value="6">{{book_ctg[5]}}</option>
					</select>
					<div class="row">
						<div class="col">
							<h3 class="text-center">カテゴリ1</h3>
							<select class="border-4 border-info" name="ctg1">
								<option value="1">食品</option>
								<option value="2">サプリ</option>
								<option value="3">ガジェット</option>
								<option value="4">家具・寝具</option>
								<option value="5">美容品</option>
							</select>
						</div>
						<div class="col">
							<h3 class="text-center">カテゴリ2</h3>
							<select class="border-4 border-info" name="ctg2">
								<option value="1">ストレス対策</option>
								<option value="2">アンチエイジング</option>
								<option value="3">集中力改善</option>
								<option value="4">睡眠改善</option>
								<option value="5">ダイエット</option>
							</select>
						</div>
					</div>
					<p><br></p>
					<input type="hidden" name="last_update">
					<button type="submit" class="btn btn-success">登録</button>
				</div>
			</form>
		</div>
	</div>
</main>
{% include "common/footer.html.twig" %}
