{% include "common/header_admin.html.twig" %}

<form method="POST" action="{{ENTRY_URL}}/delete_sub.php" id="delete_form_{{ attribute(value,'id')}}">
	<input type="hidden" value='{{ attribute(value,'id') }}' name="id">
</form>

<main>
	<div class="wrapper last-wrapper">
		<div class="container">
			<div class="wrapper-title text-center">
				<h3>副商材編集</h3>
				<p>{{file_name}}</p>
			</div>
			<form class="d-flex" type="search" action="{{APP_URL}}admin/sub/secondary_products.php" method="GET">
				<input class="form-control me-2" type="search" name="title" placeholder="全商品名から検索">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
			<button type="button" class="btn btn-blue" onclick="location.href='{{ENTRY_URL}}/create_sub.php'">副商材を新規登録する</button>

			<div class="itemlist">
				<div class="container">
					<div class="row">
						{% for value in product_data %}
							{% set id = attribute(value,'id') %}
							{% set ctg_id = attribute(value,'ctg_id') %}
							{% set ctg1 = attribute(value,'ctg1') %}
							{% set ctg2 = attribute(value,'ctg2') %}
							<div
								class="card-group col-md-4 col-sm-12">
								{# <div class="card" style="width: 18rem;"> #}aa
								<div class="card" style="height:100%;">
									<div class="column flex-direction:row">
										<div class="card-body">
											<img class="card-img-top img-fluid" src="{{APP_DIR}}/shopping/image/sub/{{ attribute(value,'image') }}" alt="...">
											<p></p>
											<div class="border-top border-bottom border-info">
												<div class="row">
													<div class="col">
														<h5>商品ID:{{attribute (value,'id')}}</h5>
													</div>
													<div class="col">
														<h5>価格:￥{{attribute (value,'price')|number_format}}</h5>
													</div>
												</div>
											</div>
											<p></p>
											<div class="border-bottom border-info">

												<h5 class="card-title">商品名:{{attribute (value,'title')|slice(0,30)}}</h5>
											</div>
											<div class="border-bottom border-info">

												<h5 class="card-title">商品説明:{{attribute (value,'detail')|slice(0,40)}}...</h5>
											</div>
											<div class="border-bottom border-info">
												<h5 class="card-title">発売日:{{attribute (value,'date')}}</h5>
											</div>
											<h8></h8>
											<div class="border-bottom border-info">
												<h8 class="card-title">関連書籍</h8>
												:{{ attribute(ctg_id_array,ctg_id)['name'] }}
											</div>
											<div class="row">
												<div class="col">
													<div class="border-right border-info">
														<p class="text-center">関連カテゴリ</p>
														<p class="text-center">
															{{ attribute(ctg1_array,ctg1)['name'] }}
														</p>
													</div>
												</div>
												<div class="col">
													<p class="text-center">目的カテゴリ</p>
													<p class="text-center">
														{{ attribute(ctg2_array,ctg2)['name'] }}
													</p>
												</div>
											</div>
											<div class="card-footer">
												<div class="row">
													<div class="col">
														<div class="text-center">
															<button type="button" class="btn btn-info btn-lg" onclick="location.href='{{ENTRY_URL}}/edit_sub.php?id={{ attribute(value,'id') }}'">編集</button>
														</div>
													</div>
													<div class="col">
														<div class="text-center">
															<button type="button" class="btn btn-danger btn-lg delete" data-id='{{ attribute(value,'id') }}'>削除</button>
															<form method="POST" action="{{ENTRY_URL}}/delete_sub.php" id="delete_form_{{ attribute(value,'id')}}">
																<input type="hidden" value='{{ attribute(value,'id') }}' name="id">
															</form>
														</div>
													</div>
												</div>
												<div class="text-center">
													<h8 class="card-title">最終更新日時<br>
														<h8 class="card-text">{{attribute (value,'last_update')}}</h8>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					{% include "common/paging.html.twig" %}
				</ul>
			</div>
		</div>
	</div>
</main>
{% include "common/footer.html.twig" %}
