{% include "common/header_admin.html.twig" %}

<button type="button" class="btn btn-info" onclick="location.href='{{ENTRY_URL}}/edit_sub.php?id={{ attribute(value,'id') }}'">編集</button>


<form method="POST" action="{{ENTRY_URL}}/delete_sub.php" id="delete_form_{{ attribute(value,'id')}}">
	<input type="hidden" value='{{ attribute(value,'id') }}' name="id">
</form>

												{% set ctg1 = {1:'食品',2:'サプリ',3:'ガジェット',4:'家具・寝具',5:'美容品'}%}
												{% set ctg2 = {1:'ストレス対策',2:'アンチエイジング',3:'集中力改善',4:'睡眠改善',5:'ダイエット'}%}
												{% set books = {1:'超ストレス解消法',2:'最高の体調',3:'【新装版】一生リバウンドしないパレオダイエットの教科書',4:'ヤバい集中力　１日ブッ通しで頭が冴えわたる神ライフハック45',5:'科学的な適職',6:'不老長寿メソッド　死ぬまで若いは武器になる'}%}

<main>
	<div class="wrapper last-wrapper">
		<div class="container">
			<div class="wrapper-title">
				<h3>副商材編集</h3>
				<p>{{file_name}}</p>
			</div>
			<form class="d-flex" type="search" action="{{APP_URL}}admin/sub/secondary_products.php" method="GET">
				<input class="form-control me-2" type="search" name="title" placeholder="全商品名から検索">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
			<button type="button" class="btn btn-blue" onclick="location.href='{{ENTRY_URL}}/create_sub.php'">副商材を新規登録する</button>

			<div class="itemlist">
				<div class="container">
					<div class="row">
						{% for value in product_data %}
							<div class="col-md-4">
								<div class="card-deck">
									<div class="card">
										<div class="column flex-direction:row">
											<div class="card-body">
												<img class="card-img-top" src="{{APP_DIR}}/shopping/image/sub/{{ attribute(value,'image') }}" alt="title" onerror="this.style.display='none'"/>
												<p> </p>
												<div class="row">
												<div class="col">
												<p>商品ID:{{attribute (value,'id')}}</p>
												</div>
												<div class="col">
												<p>価格:￥{{attribute (value,'price')}}</p>
												</div>
												</div>
												<p></p>
												<h8 class="card-title">商品名</h8>
												<p class="card-text">{{attribute (value,'title')}}</p>
												<h8 class="card-title">商品説明</h8>
												<p class="card-text">{{attribute (value,'detail')|slice(0,40)}}...</p>
												<h8 class="card-title">発売日</h8>
												<p class="card-text">{{attribute (value,'date')}}</p>
												<h8 class="card-title">最終更新日時</h8>
												<p class="card-text">{{attribute (value,'last_update')}}</p>

												<h8 class="card-title">関連書籍</h8>
												<p class="card-text">・{{ attribute(books,attribute (value,'ctg1'))}}</p>
												<div class="row">
												<div class="col">
												<p>関連カテゴリ</p>
												<p>・{{ attribute(ctg1,attribute (value,'ctg1'))}}</p>
												</div>
												<div class="col">
												<p>目的別カテゴリ</p>
												<p>・{{ attribute(ctg2,attribute (value,'ctg2'))}}</p>
												</div>
												</div>
												<button type="button" class="btn btn-info" onclick="location.href='{{ENTRY_URL}}/edit_sub.php?id={{ attribute(value,'id') }}'">編集</button>
												<button type="button" class="btn btn-danger delete" data-id='{{ attribute(value,'id') }}'>削除</button>
												<form method="POST" action="{{ENTRY_URL}}/delete_sub.php" id="delete_form_{{ attribute(value,'id')}}">
													<input type="hidden" value='{{ attribute(value,'id') }}' name="id">
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

				<ul class="paging">
					<li>
						<a href="{{ENTRY_URL}}secondary_products.php?title={{ title }}">« 最初</a>
					</li>

					{% if prev != '' %}
						<li>
							<a href="{{ENTRY_URL}}secondary_products.php?page={{ prev }}&title={{ title }}" {{ page }} -1="-1">{{ page -1}}</a>
						</li>
					{% endif %}

					<li>
						<span>{{ page }}</span>
					</li>

					{% if next != '' %}
						<li>
							<a href="{{ENTRY_URL}}secondary_products.php?page={{ next }}&title={{ title }}">{{ page +1}}</a>
						</li>
					{% endif %}

					<li>
						<a href="{{ENTRY_URL}}/secondary_products.php?page={{ pages }}&title={{ title }}">最後 »</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</main>
{% include "common/footer.html.twig" %}
