{% include "common/header.html.twig" %}
	<main>
    <br><br><br>
            <div class="container-flluid">
            <div class="text-center">
{# <div class="wrapper"> #}
                {# <div class="wrapper-title"> #}
                    <h3>変更内容確認</h3>
                    <p>変更内容にお間違いがないかご確認ください</p>
                {# </div> #}

                <form method="POST" action="{{APP_URL}}/create_account/confirm.php" class="conf-form">
<br>
                    <div class="row">
                    <div class="text-center">
                        お名前(氏名):
                        {{dataArr.family_name}} {{dataArr.first_name}}
                        <input type="hidden" name="family_name" value={{dataArr.family_name}}>
                        <input type="hidden" name="first_name" value={{dataArr.first_name}}>
                        </div>
                        </div>

<br>
                    <div class="row">
                    <div class="text-center">
                        お名前(かな):
                        {{dataArr.family_name_kana}} {{dataArr.first_name_kana}}
                        <input type="hidden" name="family_name_kana" value={{dataArr.family_name_kana}}>
                        <input type="hidden" name="first_name_kana" value={{dataArr.first_name_kana}}>
                        </div>
                        </div>

<br>
                    <div class="row">
                    <div class="text-center">
                    生年月日:
                    {{dataArr.year}}年 <input type="hidden" name="year" value={{dataArr.year}}>
                    {{dataArr.month}}月 <input type="hidden" name="month" value
                    ={{dataArr.month}}>
                    {{dataArr.day}}日 <input type="hidden" name="day" value
                    ={{dataArr.day}}>
                        </div>
                        </div>
<br>
                    <div class="row">
                    <div class="text-center">
                    郵便番号:
                    {{dataArr.zip1}}-{{dataArr.zip2}}
                    <input type="hidden" name="zip1" value={{dataArr.zip1}}>
                    <input type="hidden" name="zip2" value={{dataArr.zip2}}>
                        </div>
                        </div>
<br>
                    <div class="row">
                    <div class="text-center">
                    住所:
                    {{dataArr.address}}
                        </div>
                    <input type="hidden" name="address" value={{dataArr.address}}>
                        </div>

<br>
                    <div class="row">
                    <div class="text-center">
                    電話番号:
                    {{dataArr.tel1}}-{{dataArr.tel2}}-{{dataArr.tel3}}
                    <input type="hidden" name="tel1" value={{dataArr.tel1}}>
                    <input type="hidden" name="tel2" value={{dataArr.tel2}}>
                    <input type="hidden" name="tel3" value={{dataArr.tel3}}>
                        </div>
                        </div>
<br>
                    <div class="row">
                    <div class="text-center">
                    備考:
                    {{dataArr.contents|nl2br}}
                    <input type="hidden" name="contents" value{{dataArr.contents}}>
                        </div>
                        </div>
<br>
                    <div class="row">
                    <div class="text-center">
                    <p>SQUAREからのお知らせを受信しますか？</p>
                    {{dataArr.dm}}
                    <input type="hidden" name="dm" value={{dataArr.dm}}>
                    </div>
                    </div>
                    <p>この内容で送信してよろしいですか？</p>
<input type="hidden" name="edit_customer" method="POST" value="1">
                    <input type="submit" name="complete" class="btn btn-info" value="送信する">
                    <input type="submit" name="back" class="btn btn-submit" value="戻る">
        </div>
                </form>
            </div>
            </div>
        </div>
</main>
 {% include "common/footer.html.twig" %}