<main>
<div class="wrapper last-wrapper register-wrapper">
            <div class="container">
                <div class="register">
                    <div class="wrapper-title">
                        <h3>ユーザーデータ編集</h3>
                        <p>個人情報編集</p>
                    </div>
<form class="regi-form" method="POST" action="{{constant('config\\Bootstrap::APP_URL')}}/customer/confirm.php">
<div class="form-group">


メールアドレス<span class="error">*</span>
<input type="email" name="mail" value={{ customer['mail']}} size="40">
{% if errArr.mail | length > 0 %}<br><span class="error">{{errArr.mail}}</span>{% endif %}
</div>
<div class="form-group">
パスワード<span class="error">*</span><br>
<span class="error">(変更の場合がない場合も再入力をお願いします)</span>
<input type="password" name="password" value="{{dataArr.password}}" size="40">
{% if errArr.password | length > 0 %}<br><span class="error">{{errArr.password}}</span>{% endif %}
</div>

<div class="form-group">
お名前(氏名)<span class="error">*</span>
<div class="form-group">
姓<input type="text" name="family_name" value="{{ customer['family_name'] }}">
名<input type="text" name="first_name"  value="{{ customer['first_name'] }}">
{% if errArr.family_name | length > 0 %}<br><span class="error">{{ errArr.family_name }}</span>{% endif %}
{% if errArr.first_name | length > 0 %}<br><span class="error">{{ errArr.first_name }}</span>{% endif %}
</div>


<div class="form-group">
<br>お名前(かな)
<div class="form-group"> 
せい<input type="text" name="family_name_kana" value="{{customer['family_name']}}">
めい<input type="text" name="first_name_kana"  value="{{customer['first_name']}}">
</div>

<div class="form-group">
生年月日<span class="error">*</span>
<select name="year" >
{% for index, label in yearArr %}
<option value="{{index}}" {% if dataArr.year == index %} selected {% endif %}>{{ label }}</option>
{% endfor %}
</select>
<select name='month'>
{% for index, label in monthArr %}
<option value="{{index}}" {% if dataArr.month == index %} selected {% endif %}>{{ label }}</option>
{% endfor %}
</select>
<select name='day'>
{% for index, label in dayArr %}
<option value="{{index}}" {% if dataArr.day == index %} selected {% endif %}>{{ label }}</option>
{% endfor %}
</select>
{% if errArr.year | length > 0 %}<br><span class="error">{{errArr.year}}</span>{% endif %}
{% if errArr.month | length > 0 %}<br><span class="error">{{errArr.month}}</span>{% endif %}
{% if errArr.day | length > 0 %}<br><span class="error">{{errArr.day}}</span>{% endif %}
</div>


<div class="form-group">
郵便番号<span class="error">*</span>
<div class="form-group" style="display:inline-flex">
<input type="text" name="zip1" value="{{customer['zip1']}}" id="zip1" size="3" maxlength="3"> -
<input type="text" name="zip2" value="{{customer['zip2']}}" id="zip2" size="4" maxlength="4">
<input type="button" name="address_search" value="〒から住所を入力" id="address_search">
</div>
{% if errArr.zip1 | length > 0 %}<br><span class="error">{{errArr.zip1}}</span>{% endif %}
{% if errArr.zip2 | length > 0 %}<br><span class="error">{{errArr.zip2}}</span>{% endif %}
</div>

<div class="form-group">
住所<span class="error">*</span>
<input type="text" name="address" value="{{customer['address']}}" id="address" size="40">
{% if errArr.address | length > 0 %}<br><span class="error">{{errArr.address}}</span>{% endif %}
</div>

<div class="form-group">
電話番号<span class="error">*</span>
<div class="form-group" style="display:inline-flex">
<input type="text" name="tel1" value="{{customer['tel1']}}" size="6" maxlength="6"> -
<input type="text" name="tel2" value="{{customer['tel2']}}" size="6" maxlength="6"> -
<input type="text" name="tel3" value="{{customer['tel3']}}" size="6" maxlength="6">
</div>
{% if errArr.tel1 | length > 0 %}<br><span class="error">{{errArr.tel1}}</span>{% endif %}
{% if errArr.tel2 | length > 0 %}<br><span class="error">{{errArr.tel2}}</span>{% endif %}
{% if errArr.tel3 | length > 0 %}<br><span class="error">{{errArr.tel3}}</span>{% endif %}

<div class="form-group">
備考
<textarea name="contents" rows="4" cols="40">{{customer['contents']}}</textarea>
</div>
 <div class="form-group">

<p>EC_BOOKからのお知らせを受信しますか？</p>
<input type="hidden" name="dm" value="受信しない">
<input type="checkbox" class="checkbox" name="dm" value="受信する" checked>
<span>受信する</span>
</div>
<button type="submit" name="confirm" class="btn btn-submit">内容を確認する</button>
</form>
</div>
</div>
</div>
</main>

