    {% include "common/header_admin.html.twig" %}
	<main>
        <div class="wrapper">
            <div class="container">
                <div class="wrapper-title">
                    <h3>副商材管理</h3>
                </div>
                <button type="button" class="btn btn-blue" onclick="location.href='{{ENTRY_URL}}/create_sub.php'">副商材を新規登録する</button>
                <div class="list">
                    <table>
                        <thead>
                            <tr>
                                <th>副商材ID</th>
                                <th>商品名</th>
                                <th>説明文</th>
                                <th>価格</th>
                                <th>画像</th>
                                <th>関連商材名</th>
                                <th>カテゴリ1</th>
                                <th>カテゴリ2</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for value in subproduct %}
                            <tr>
                            <td>{{ attribute(value,'id') }}</td>
                            <td>{{ attribute(value,'title') }}</td>
                            <td>{{ attribute(value,'detail') }}</td>
                            <td>{{ attribute(value,'price') }}</td>
                            <td><img src={{APP_URL}}"/shopping/image/sub/{{ attribute(value,'image') }}" alt=""></td>
                            <td>{{ attribute(value,'ctg_id') }}</td>
                            <td>""</td>
                            <td>""</td>
                            <td>
                            <button type="button" class="btn btn-info" onclick="location.href='{{ENTRY_URL}}/edit_book.php?id={{ attribute(value,'id') }}'">編集</button>

                            <button type="button" class="btn btn-danger delete" data-id='{{ attribute(value,'book_id') }}' >削除</button>

                            <form method="POST" action="{{ENTRY_URL}}/delete_sub.php" id="delete_form_{{ attribute(value,'book_id')}}">
                            <input type="hidden" value='{{ attribute(value,'book_id') }}' name="book_id">
                            </form>
                            </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
 {% include "common/footer.html.twig" %}
    <footer>
        <div class="container">
            <p>Copyright @ 2021  HEALTH KNOWLEGE</p>
        </div>
    </footer>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script>
       $(".delete").click(function(){
           var id = this.dataset.id;
           if(confirm("ID:"+id+"番の書籍を本当に削除していいですか？")){
               //OK
               $("#delete_form_"+id).submit();
           }else{
               //キャンセル
               return false;
           }
       })
   </script>
  </html>