{% include "common/header_admin.html.twig" %}
	<main>
	<div class="wrapper">
		<div class="container">
			<div class="wrapper-title">
				<h3>ダッシュボード</h3>
			</div>
			<div class="boxs">
				<a href="{{APP_URL}}admin/news/news.php" class="box">
					<i class="far fa-newspaper icon"></i>
					<p>記事管理</p>
				</a>
				<a href="{{APP_URL}}admin/user/users.php" class="box">
					<i class="fas fa-users icon"></i>
					<p>会員管理</p>
				</a>
				<a href="{{APP_URL}}admin/order/orders.php" class="box">
					<i class="fas fa-ambulance icon"></i>
					<p>受注管理</p>
					<a href="{{APP_URL}}admin/book/Books.php" class="box">
						<i class="fas fa-book-open icon"></i>
						<p>書籍管理</p>
					</a>
					<a href="{{APP_URL}}admin/subproduct/secondary_products.php" class="box">
						<i class="fas fa-book-open icon"></i>
						<p>副商材管理</p>
					</a>
				</a>
			</div>
		</div>
	</div>
</main>
 {% include "common/footer.html.twig" %}</body></html>