    {% include "common/header.html.twig" %}
	<main>
        <div class="wrapper">
            <div class="container">
                <div class="wrapper-title">
                    <h3>記事管理</h3>
                </div>
                <button type="button" class="btn btn-blue" onclick="location.href='create_news.php'">投稿する</button>
                <div class="list">
                    <table>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>タイトル</th>
                                <th>本文</th>
                                <th>更新日時</th>
                                <th>作成日時</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for value in news %}
                            <tr>
                            <td>{{ attribute(value,'id') }}</td>
                            <td>{{ attribute(value,'title') }}</td>
                            <td>{{ attribute(value,'content') }}</td>
                            <td>{{ attribute(value,'updated_at') }}</td>
                            <td>{{ attribute(value,'created_at') }}</td>
                            <td>
                            <button type="button" class="btn btn-green" onclick="location.href='{{ constant('config\\Bootstrap::ENTRY_URL')}}/edit_news.php?id={{ attribute(value,'id') }}'">編集</button>
                            
                            <button type="button" class="btn btn-red delete" data-id='{{ attribute(value,'id') }}' >削除</button>
                            
                            <form method="POST" action="{{ constant('config\\Bootstrap::ENTRY_URL')}}/delete_news.php" id="delete_form_{{ attribute(value,'id')}}">
                            <input type="hidden" value='{{ attribute(value,'id') }}' name="id">
                            </form>
                            </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
 {% include "common/footer.html.twig" %}
    <footer>
        <div class="container">
            <p>Copyright @ 2021  HEALTH KNOWLEGE</p>
        </div>
    </footer>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script>
       $(".delete").click(function(){
           var id = this.dataset.id;
           if(confirm("ID:"+id+"番の記事を本当に削除していいですか？")){
               //OK
               $("#delete_form_"+id).submit();
           }else{
               //キャンセル
               return false;
           }
       })
   </script>
  </html> 