<main>
            <div class="wrapper">
                <div class="container">
                    <div class="wrapper-title">
                        <h3>受注管理</h3>
                    </div>
                    <div class="list">
                        <table>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>氏名</th>
                                <th>電話番号</th>
                                <th>合計金額</th>
                                <th>注文日時</th>
                                <th>更新日時</th>
                                <th>注文ステータス</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for orders in order_data %}
                          <tr>
                            <td>{{ orders['id'] }}</td>
                            <td>{{ orders['family_name'] }} {{ orders['first_name'] }}</td>
                            <td>{{ orders['tel1'] }}-{{ orders['tel2'] }}-{{ orders['tel3'] }}</td>
                            <td>{{ orders['total'] }}</td>
                            <td>{{ orders['created_at'] }}</td>
                            <td>{{ orders['update_at'] }}</td>
                                <td>
                                    {% if orders['order_status'] == 0 %}
                                    <button type="button" class="btn btn-red">受付中</button>
                                    {% else %}
                                    <button type="button" class="btn btn-blue">発送済</a></button>
                                    {% endif %}
                                </td>
                                <td>
                                   <button type="button" class="btn btn-green" onclick="location.href='../../admin/order_products.php?id={{orders['id']}}'">詳細</button>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>