{% set ctg1 = {1:'食品',2:'サプリ',3:'ガジェット',4:'家具・寝具',5:'美容品'}%}
{% set ctg2 = {1:'ストレス対策',2:'アンチエイジング',3:'集中力改善',4:'睡眠改善',5:'ダイエット'}%}
{% set Books = {1:'超ストレス解消法',2:'最高の体調',3:'【新装版】一生リバウンドしないパレオダイエットの教科書',4:'ヤバい集中力　１日ブッ通しで頭が冴えわたる神ライフハック45',5:'科学的な適職',6:'不老長寿メソッド　死ぬまで若いは武器になる'}%}
{% set a = 0 %}
{% extends "shopping/Book/detail.html.twig" %}

{% block pickup %}
<div class="container">
								<div class="row">
									<div class="col-md-4 col-xs-6">
										<a href="{{shopping}}Book/detail.php?id={{Book_data['id']}}">
											<div class="card">
												<img src="{{APP_URL}}{{Book_image}}" class="img-fluid rounded mx-auto" alt="">
											</div>
											<div class="card-title text-center">関連書籍</div>
											<div class="card-text text-center">書籍名：{{Book_data['title']|e("html")}}</div>
											<div class="card-text text-center">発売日：{{Book_data['date']}}</div>
											<div class="card-text text-center">価格：￥{{Book_data['price']|number_format}}</div>
										</a>
									</div>
									<div class="col-md-8 col-xs-6">
										<div class="row">
											<h3 class="text-center">あなたにオススメの商品</h3>	<p class="text-center">{{ attribute(ctg2,attribute(value,'ctg2')) }}関連商品</p>
											<ul class="slider">
												{% for ctg2 in ctg2_product %}
													<li>
														<a href="{{subdetail}}{{ctg2['id']}}"><img class="img-thumbnail" src="{{image_dir}}{{ctg2['image']}}" alt="" srcset=""></a>
														<p class="text-center">{{ctg2['title']|e("html")}}</p>
														<p class="text-center">￥{{ctg2['price']|number_format}}</p>
													</li>
												{% endfor %}
											</div>
											<p class="text-center">{{ attribute(ctg1,attribute(value,'ctg1')) }}関連商品</p>
											<ul class="slider">
												{% for ctg1 in ctg1_product %}
													<li>
														<a href="{{subdetail}}{{ctg1['id']}}"><img class="img-thumbnail" src="{{image_dir}}{{ctg1['image']}}" alt="" srcset=""></a>
														<p class="text-center">{{ctg1['title']|e("html")}}</p>
														<p class="text-center">￥{{ctg1['price']|number_format}}</p>
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>

<br><p></p>

<div class="text-center">
<a href="{{shopping}}sub/sublist_all.php">
	<button class="btn btn-gray">関連商品一覧へ</button>
	</a>
	</div>

{% endblock %}