{% include "common/header.html.twig" %}


{% set ctg1 = {1:'食品',2:'サプリ',3:'ガジェット',4:'家具・寝具',5:'美容品'}%}
{% set ctg2 = {1:'ストレス対策',2:'アンチエイジング',3:'集中力改善',4:'睡眠改善',5:'ダイエット'}%}
{% set books = {1:'超ストレス解消法',2:'最高の体調',3:'【新装版】一生リバウンドしないパレオダイエットの教科書',4:'ヤバい集中力　１日ブッ通しで頭が冴えわたる神ライフハック45',5:'科学的な適職',6:'不老長寿メソッド　死ぬまで若いは武器になる'}%}

<br><br>
<main>
	<div class="last-wrapper center-block">
		<div class="container-fluid">
			<div class="wrapper-title  center-block">
				<h3>{{value['title']|e("html")}}</h3>
			</div>
			<div class="album py-5 bg-light">
				<div class="container-fluid">

					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						<div class="col px-0">
							<div class="card shadow-sm">
								<form action="{{APP_URL}}/shopping/cart.php" method="POST">
									<div class="card">
										<img src="{{IMAGE_DIR}}{{ value['image'] }}" class="card-img-top" alt="">
									</div>
									<div class="card-body">
										<input type="hidden" name="title" value={{value['title']|e("html")}}>
										<h5 class="card-text" style="white-space: pre-wrap;">{{value['detail'][0:50]|nl2br}}..</h5>
											<p>
											<button type="button" class="btn btn-gray" data-bs-toggle="modal" data-bs-target="#exampleModal">商品詳細の表示</button>
											<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body h5">
															{{value['detail']|nl2br}}
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
														</div>
													</div>
												</div>
											</div>
										</p>
									</p>
									</p>
										<div class="text-center">
											<h3 class="text-center red" style="100%">価格 ￥{{value['price']|number_format}}</h3>
											<input type="hidden" name="price" value={{value['price']}}>
											<input type="hidden" name="ctg_id" value={{value['ctg_id']}}>
									<input type="hidden" name="cart_in_status" value="1">
									</div>

{% if login == true %}
											<section class="post" data-wantname="{{ want_name }}">
												<div
													class="btn-want{{active}}">
													<!-- 自分がいいねした投稿にはハートのスタイルを常に保持する -->
													<i class="fa-heart fa-2x px-16 {{icon}}"></i>
													<span></span>
												</div>
											</section>
											{% else %}
										{% endif %}
										<div class="row">
									<div class="btn-group" type='center'>
											<div class="col">
												<input type="button" value="＋" class="btnspinner btn-success" data-cal="1" data-target=".counter">
											</div>
											<input type="number" name="count" data-max="100" data-min="0" step="1" placeholder="数値を入力" class="counter text-center" style="width:30%">
											<br><br>
											<div class="col">
												<input type="button" value="－" class="btnspinner btn-success" data-cal="-1" data-target=".counter">
												<br><br>
											</div>
										</div>
										<div class="d-none d-sm-block">
											<button type="submit" class="btn-success">カートに入れる</button>
										</div>
										<div class="d-block d-sm-none">
											<button type="submit" class="btn btn-link">
												<i type="submit" class="fas fa-shopping-cart fa-2x"></i>
											</button>
										</div>
									</small>
									<input type="hidden" name="cart_in_status" value="1">
								</div>
							</form>
						</div>
					</div>
				</div>
				</div>



								<div class="container">
									<div class="row">
										<div class="col-md-4 col-xs-6">
											<a href="{{APP_URL}}/shopping/book/detail.php?id={{book_data['id']}}">
												<div class="card">
													<img src="{{APP_URL}}{{book_image}}" class="card-img-top" alt="">
												</div>
												<div class="card-title text-center">関連書籍</div>
												<div class="card-text text-center">書籍名：{{book_data['title']|e("html")}}</div>
												<div class="card-text text-center">発売日：{{book_data['date']}}</div>
												<div class="card-text text-center">価格：￥{{book_data['price']|number_format}}</div>
											</a>
										</div>
										<div class="col-md-8 col-xs-6">
											<div class="row">
												<h3 class="text-center">あなたにオススメの商品</h3>	<p class="text-center">{{ attribute(ctg2,attribute(value,'ctg2')) }}関連商品</p>
												<ul class="slider">
													{% for ctg2 in ctg2_product %}
														<li>
															<a href="{{subdetail}}{{ctg2['id']}}"><img class="img-thumbnail" src="{{image_dir}}{{ctg2['image']}}" alt="" srcset=""></a>
															<p class="text-center">{{ctg2['title']|e("html")}}</p>
															<p class="text-center">￥{{ctg2['price']|number_format}}</p>
														</li>
													{% endfor %}
												</div>
												<p class="text-center">{{ attribute(ctg1,attribute(value,'ctg1')) }}関連商品</p>
												<ul class="slider">
													{% for ctg1 in ctg1_product %}
														<li>
															<a href="{{subdetail}}{{ctg1['id']}}"><img class="img-thumbnail" src="{{image_dir}}{{ctg1['image']}}" alt="" srcset=""></a>
															<p class="text-center">{{ctg1['title']|e("html")}}</p>
															<p class="text-center">￥{{ctg1['price']|number_format}}</p>
														</li>
													{% endfor %}
												</ul>
																						</div>
										</div>
									</div>
								</div>
							</div>

	<div class="text-center">
	<a href="../../../shopping/sub/sublist_all.php">
	<button class="btn btn-gray">関連商品一覧へ</button>
	</a>
	</div>

						</div>
</main>
{% include "common/footer.html.twig" %}