{% include "common/header.html.twig" %}
<main>
	<div class="container-fluid">
		<br><br><br>
		<div class="wrapper-title">
			<h2>Health Products</h2>
			<h6>関連商品一覧</h6>
		</div>
		{% set a = 0 %}
		<div class="row">
			{% for value in product_data %}
				{% include "common/shopping/hidden_input.html.twig" %}
				<div class="card-group col-6 col-md-4 px-0" style="width: 100%;">
					<div class="card">
						<form action="{{shopping}}cart.php" method="POST">
							<a href="{{APP_URL}}{{this_dir}}detail.php?id={{ attribute(value,'id') }}">
								<img class="card-img-top img-fluid" src="{{IMAGE_DIR}}{{ attribute(value,'image') }}" alt="">
							</a>
							<div class="card-body px-0">
								<p class="card-text">
									<h5>{{ attribute(value,'title')|slice(0,30)  }}...</h5>
									<input type="hidden" name="title" value="{{ attribute(value,'title')}}">
									<h5 class="red">価格 ￥{{ attribute(value,'price')|number_format }}</h5>
									<input type="hidden" name="price" value={{ attribute(value,'price')}}>
									<br>
									{{  attribute(value,'detail')|slice(0,40) }}...
									<input type="hidden" name="ctg_id" value={{value['ctg_id']}}>
								</p>
							</div>

							{% include "common/shopping/want_button.html.twig" %}


							{% include "common/cart_btn.html.twig" %}


						</div>

					</form>
				</div>
			</div>
			{% set a = a + 1 %}
		{% endfor %}
	</div>
</div>

{% include "common/paging.html.twig" %}

{% include "common/shopping/hidden_input_end.html.twig" %}

</main>

{% include "common/footer.html.twig" %}
