{% include "common/header.html.twig" %}

<main>
	<div class="container-fluid">
		<br><br><br>
		<div class="wrapper-title">
			<h2>Health Products</h2>
			{% block title %}
			<h6>関連商品一覧</h6>
			{% endblock %}
		</div>
		<h3 class="text-center">{{no_product}}</h3>
		{% set a = 0 %}
		<div class="row">
			{% for value in product_data %}
				{% include "common/shopping/hidden_input.html.twig" %}
				<div class="card-group col-6 col-md-4 px-0" style="width: 100%;">
					<div class="card">
						<form action="{{shopping}}cart.php" method="POST">
					{% block order_products %}
								<input type="hidden" name="product_image" value={{ value['image'] }}>
					{% endblock %}
							<a href="{{APP_URL}}{{this_dir}}detail.php?id={{ attribute(value,'id') }}">
								<img class="card-img-top img-fluid" src="{{IMAGE_DIR}}{{ attribute(value,'image') }}" alt="">
							</a>
							<div class="card-body px-0">
								<div class="card-text">
									<div class="border-bottom border-info">
										<h3>{{ attribute(value,'title')|length > 30 ? attribute(value,'title')|slice(0,30) ~ '...': attribute(value,'title')}}</h3>
										<input type="hidden" name="title" value="{{ attribute(value,'title')}}">
									</div>
									<br>
									<div class="border-bottom border-info">
										<h3 class="red">価格 ￥{{ attribute(value,'price')|number_format }}</h3>
										<input type="hidden" name="price" value={{ attribute(value,'price')}}>
										<br>
									</div>
									<h5>{{ attribute(value,'detail')|length > 40 ? attribute(value,'detail')|slice(0,40) ~ '...': attribute(value,'detail')}}</h5>
								{% include "common/shopping/hidden_input_cart_in.html.twig" %}
								</div>

								</div>

							{% include "common/shopping/want_button.html.twig" %}

							{% include "common/cart_btn.html.twig" %}
							<br><br>

						</div>
					</div>
				</form>
				{% set a = a + 1 %}
			{% endfor %}

			{% include "common/paging.html.twig" %}

			{% include "common/shopping/hidden_input_end.html.twig" %}
		</div>
	</div>
</main>

{% include "common/footer.html.twig" %}
