{% include "common/header.html.twig" %}
<main>
	<div class="wrapper last-wrapper">
		<div class="container">
			<div class="wrapper-title">
				<h3>Health Products</h3>
				<p>関連商品一覧</p>
			</div>
		</div>

		<div class="itemlist">
			<ul>
				{% for value in product_data %}
					<li>
						<form action="{{APP_URL}}/shopping/cart.php" method="POST" class="item-form">

<a href="{{APP_URL}}{{this_dir}}detail.php?id={{ attribute(value,'id') }}">
							<img src="{{IMAGE_DIR}}{{ attribute(value,'image') }}" alt="">
							</a>
							<div class="item-body text-center">
								<h5>{{ attribute(value,'tile') }}</h5>
								<input type="hidden" name="title" value="{{ attribute(value,'title')|e("html")}}">
								<p>価格　￥{{ attribute(value,'price') }}</p>
								<input type="hidden" name="price" value={{ attribute(value,'price')}}>
								<p>{{  attribute(value,'detail')|slice(0,40) }}...</p>
								<input type="hidden" name="ctg_id" value={{value['ctg_id']}}>

								<div class="item-form">
									<input type="number" name="count" maxlength="1000" step="1" placeholder="数値を入力" style="width:150px;">
									{% if login == true %}
									<section class="post" data-wantName="{{ want_name }}">
    <div class="btn-want {{active}}">
        <!-- 自分がいいねした投稿にはハートのスタイルを常に保持する -->
        <i class="fa-heart fa-lg px-16 {{icon}}"></i><span></span>
    </div>
</section>
{% else %}
									{% endif %}
									<button type="submit" name="cart_in_status" value=1 class="btn 	btn-primary">カートに入れる</button>
								</div>
							</form>
						</div>
					</li>
				{% endfor %}
			</ul>
			<ul class="paging">
				<li>
					<a href="{{ENTRY_URL}}sublist_all.php?title={{ title }}">« 最初</a>
				</li>

				{% if prev != '' %}
					<li>
						<a href="{{ENTRY_URL}}sublist_all.php?page={{ prev }}&title={{ title }}" {{ page }} -1="-1">{{ page -1}}</a>
					</li>
				{% endif %}

				<li>
					<span>{{ page }}</span>
				</li>

				{% if next != '' %}
					<li>
						<a href="{{ENTRY_URL}}sublist_all.php?page={{ next }}&title={{ title }}">{{ page +1}}</a>
					</li>
				{% endif %}

				<li>
					<a href="{{ENTRY_URL}}/sublist_all.php?page={{ pages }}&title={{ title }}">最後 »</a>
				</li>
			</ul>
		</div>
	</div>
</main>
{% include "common/footer.html.twig" %}