
{# twitter共有ボタン #}

<div class="container" style="margin-top:2rem;">

<div class="fb-share-button"
     data-href="https://murashun.jp/"
     data-layout="button_count"></div>

{% if '/sub/' in this_url %}

<a href="https://twitter.com/share?url={{this_url}}&
via=CKN5bDfebvPdCsj&
hashtags=健康知識,パレオな男&
text=著者：鈴木裕(パレオな男)による「{{book_data['title']|e("html")}}」にて紹介されている商品「{{value['title']}}」のご紹介です"
rel="nofollow"
target="_blank"><i class="fab fa-twitter fa-3x"></i>
</a>

	{% else %}

<a href="https://twitter.com/share?url={{this_url}}&
via=CKN5bDfebvPdCsj&
hashtags=健康知識,パレオな男&
text=著者：鈴木裕(パレオな男)による「{{value['title']|e("html")}}」のご紹介です"
rel="nofollow"
target="_blank"><i class="fab fa-twitter fa-3x"></i>
</a>


{% endif %}


</div>