
{# twitter共有ボタン #}


<div class="col text-nowrap text-center" style="margin-top:2rem;">

<h3 class="text-center">SNSでシェアする</h3>

{% if '/sub/' in this_url %}

<a href="https://twitter.com/share?url={{this_url}}&
via=CKN5bDfebvPdCsj&
hashtags=健康知識,パレオな男&
text=著者：鈴木裕(パレオな男)による「{{book_data['title']|length > 30 ? book_data['title']|slice(0,30) ~ '...': book_data['title']|e("html")}}」にて紹介されている商品「{{value['title']|length > 30 ? value['title']|slice(0,30) ~ '...': value['title']}}」のご紹介です"
rel="nofollow"
target="_blank"><i class="fab fa-twitter fa-4x" style="color:#00aced;"></i>
</a>

	{% else %}

<a href="https://twitter.com/share?url={{this_url}}&
via=CKN5bDfebvPdCsj&
hashtags=健康知識,パレオな男&
text=著者：鈴木裕(パレオな男)による「{{value['title']|e("html")}}」のご紹介です"
rel="nofollow"
target="_blank"><i class="fab fa-twitter fa-4x" style="color:#00aced;"></i>
</a>


{% endif %}

<a href="https://getpocket.com/edit?url={{this_url}}&title={{value['title']}}" rel="nofollow" rel="nofollow" target="_blank"><i class="fab fa-get-pocket fa-4x" style="color:red"></i></a>

<a href="https://b.hatena.ne.jp/add?mode=confirm&url={{thi_url}}" rel="nofollow" target="_blank" style="margin:0px;">
<i class="fas fa-bold fa-4x"></i>
</button>
</a>

<a href="https://line.me/R/msg/text/{{this_url}}"><i class="fab fa-line fa-4x" style="color:#00c300"></i>
</a>

<a href="https://www.facebook.com/share.php?u={{this_url}}"><i class="fab fa-facebook-square fa-4x" style="color:#315096;"></i></a>

</div>