<!DOCTYPE html>

{{ header }}

<body>
	<main>
		<div class="breadcrumbs">
			<div class="container">
				<ul>
					<li>
						<a href="{{constant ('config\\Bootstrap::APP_URL') }}index.php">TOP</a>
					</li>
					<li>{{ news[page_no]['title'] }}</li>
				</ul>
			</div>
		</div>
		<div class="wrapper">
			<div class="container">
				<article>
					<div class="page-title">
						<h1>{{ news[page_no]['title'] }}</h1>
						<p>
							{{ news[page_no]['updated_at'] }}</p>
					</div>
					<div class="page-text">
						{{ news[page_no]['content'] }}
					</div>
				</article>
			</div>
		</div>
	</main>
</body>
{{ footer }}</html>
