{% include "common/header_admin.html.twig" %}
<main>
	<div class="wrapper">
		<div class="container">
			<div class="wrapper-title">
				<h3>書籍管理</h3>
			</div>
			<button type="button" class="btn btn-primary" onclick="location.href='create_Book_list.php'">書籍を新規登録する</button>
			<div class="list">
				<table>
					<thead>
						<tr>
							<th>書籍ID</th>
							<th>タイトル</th>
							<th>説明文</th>
							<th>価格</th>
							<th>画像</th>
							<th>発売日</th>
							<th>関連商材ID</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{% for value in Books %}
							<tr>
								<td>{{ attribute(value,'id') }}</td>
								<td>{{ attribute(value,'title') }}</td>
								<td>
								<span class="d-inline-block text-truncate" style="max-width: 50px;">{{ attribute(value,'detail') }}</span>
								</td>
								<td>{{ attribute(value,'price')|number_format }}</td>
								<td><img src="{{APP_URL}}/shopping/image/book/{{ attribute(value,'image') }}" alt=""></td>
								<td>{{ attribute(value,'date') }}</td>
								<td>{{ attribute(value,'ctg_id') }}</td>
								<td>
									<button type="button" class="btn btn-info" onclick="location.href='{{ENTRY_URL}}/edit_book.php?id={{ attribute(value,'id') }}'">編集</button>

									<button type="button" class="btn btn-danger delete" data-id='{{ attribute(value,'id') }}'>削除</button>

									<form method="POST" action="{{ENTRY_URL}}/delete_Books.php" id="delete_form_{{ attribute(value,'id')}}">
										<input type="hidden" value='{{ attribute(value,'id') }}' name="id">
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
{% include "common/footer.html.twig" %}
