    {% include "common/header_admin.html.twig" %}
	<main>
        <div class="wrapper">
            <div class="container">
                <div class="wrapper-title">
                    <h3>書籍編集</h3>
                </div>
                <form class="edit-form" action="{{constant('config\\Bootstrap::ENTRY_URL')}}/update_book.php" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name='book_id' value={{ book[0]['book_id'] }}>
                    <div class="form-group">
                        <p>タイトル</p>
                        {{ book[0] }}
                        <input type='text' name='title' value={{ book[0]['title'] }} >
                    </div>
                    <div class="form-group">
                        <p>説明文</p>
                        <textarea name='detail'>{{ book[0]['detail'] }}</textarea>
                    </div>
                    <div class="form-group">
                        <p>価格</p>
                        <input type='text' name='price' value={{ book[0]['price'] }} required>
                    </div>
                    <div class="form-group">
                        <p>画像</p>
                        <input type='file' name='image'  class="imgform" value={{ book[0]['image'] }} required>
                    </div>
                    <div class="form-group">
                        <p>発売日</p>
                        <input type='text' name='date' value={{ book[0]['date'] }} required>
                    </div>
                    <div class="form-group">
                        <p>関連商材ID</p>
                        <input type='text' name='ctg_id' value={{ book[0]['ctg_id'] }} required>
                    </div>
                    <button type="submit" class="btn btn-blue">更新する</button>
                </form>
            </div>
        </div>
    </main>
 {% include "common/footer.html.twig" %}