{% include "common/header.html.twig" %}
<main>
	{% set a = 0 %}
	{% include "common/shopping/hidden_input.html.twig" %}
	<div class="last-wrapper center-block">
		<div class="container-fluid" style="margin-top:7rem;">
			<div class="wrapper-title center-block" >
				<h2>{{value['title']}}</h2>
			</div>
			<div class="album py-5 bg-light">
				<div class="container">

					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						<div class="col px-0">
							<div class="card shadow-sm">
								<form action="{{shopping}}/cart.php" method="POST">
								<input type="hidden" name="product_image" value={{ value['image'] }}>
									<div class="text-center">
										<img src="{{IMAGE_DIR}}{{ value['image'] }}" class="text-center" style="width: 60%;" alt="">
									</div>
									<div class="card-body">
										<h5 class="card-text">{{value['detail']|length > 50 ? value['detail']|slice(0,50) ~ '...'|raw: value['detail']|raw}}

										<p>
											<button type="button" class="btn btn-gray" data-bs-toggle="modal" data-bs-target="#exampleModal">商品詳細の表示</button>
											<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body h5">
															{{value['detail']|raw|nl2br}}
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
														</div>
													</div>
												</div>
											</div>
										</p>
									</p>
								</p>
								<p></p>
								<div class="text-center">
									<h3 class="text-center red" style="100%">価格 ￥{{value['price']|number_format}}</h3>
									<input type="hidden" name="title" value="{{value['title']}}">
									<input type="hidden" name="price" value={{value['price']}}>
									<input type="hidden" name="cart_in_status" value="1">
									{% include "common/shopping/hidden_input_cart_in.html.twig" %}
								</div>
								<div class="card-footer">


								{% include "common/shopping/want_button.html.twig" %}

								</div>

								{% include "common/cart_btn.html.twig" %}
								{% include "common/shopping/share_button.html.twig" %}

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		{% block pickup %}
			<div class="container">
				<div class="row">
					<h3 class="text-center">オススメ関連商品</h3>
					<br>
						<p></p>
						<br>
						<ul class="slider">
							{% for sub in sub_product %}
								<li>
								<div class="card">
							<div class="text-center">
									<a href="{{sub_detail}}{{sub["id"]}}">
									<img class="img-thumbnail card-img-top" alt="" src="{{shopping}}/image/sub/{{sub['image']}}"
									style="width:10rem; height:8rem"
									>
									</a>
									<h4>{{sub['title']|length > 30 ? sub['title']|slice(0,30) ~ '...': sub['title']}}</h4>
									<h5 class="card-body text-nowrap">￥{{sub['price']|number_format}}</h5>
								</div>
							</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="text-center">
			<a href="{{shopping}}book/booklist.php">
				<button class="btn btn-gray">書籍一覧へ</button>
			</a>
		</div>
	{% endblock %}


</div></main><input type="hidden" id="for_count_end" value="1">{% include "common/footer.html.twig" %}
