{% include "common/header.html.twig" %}
<br>
<br>
<main>
	<div class="last-wrapper center-block">
		<div class="container  center-block">
			<div class="wrapper-title  center-block">
				<h1>{{value['title']}}</h1>
			</div>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col">
						<div class="card shadow-sm">
							<form action="{{APP_URL}}/shopping/cart.php" method="POST">
									<div class="card">
                  <img src="{{IMAGE_DIR}}{{ value['image'] }}" class="card-img-top" alt="">
                  </div>
								<div class="card-body">
									<input type="hidden" name="title" value={{value['title']}}>
									<p class="card-text" style="white-space: pre-wrap;">{{value['detail']}}</p>
									<div class="text-center">
									<p class="text-center" style="100%">価格 ￥{{value['price']}}</p>
									<input type="hidden" name="price" value={{value['price']}}>
									<input type="hidden" name="ctg_id" value={{value['ctg_id']}}>
									<input type="hidden" name="cart_in_status" value=1>
										<div class="btn-group" type='center'>
											<input type="number" name="count" maxlength="1" step="1" placeholder="数量を入力" style="width:50%;">
											<button type="submit" class="btn btn-sm btn-outline-secondary" style="width:50%;">カートに入れる</button>
											{% if login == true %}
												<section class="post" data-wantname="{{ want_name }}">
													<div
														class="btn-want {{active}}">
														<i class="fa-heart fa-lg px-16 {{icon}}"></i>
														<span></span>
													</div>
												</section>
												{% else %}
											{% endif %}
										</form>
									</div>
								</div>
							</div>
<div class="container">
	<div class="row">
		{# <div class="col-md-4 col-xs-6"> #}
{# <div class="col-sm-8 col-xs-6"> #}
<div class="row">
<h3 class="text-center">オススメ関連商品</h3>
			<ul class="slider">
			{% for sub in sub_product %}
				<li>
					<a href="{{sub_detail}}{{sub["id"]}}"><img class="img-thumbnail" alt="" src="{{APP_URL}}/shopping/image/sub/{{sub['image']}}"/></a>
					<p>{{sub['title']}}</p>
					<p>￥{{sub['price']}}</p>
				</li>
			{% endfor %}
			</ul>
		</div>
			</ul>
		</div>
		</div>

	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
</div></div>
</div>


			</div>
      </div>
		</main>
		{% include "common/footer.html.twig" %}