{% include "common/header.html.twig" %}
<main>
	<div class="last-wrapper center-block">
		<div class="container  center-block">
			<div class="wrapper-title  center-block">
				<h1>{{value['title']}}</h1>
			</div>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col">
						<div class="card shadow-sm">
							<form action="{{APP_URL}}/shopping/cart.php" method="POST">
									<div class="card">
                  <img src="{{IMAGE_DIR}}{{ value['image'] }}" class="card-img-top" alt="">
                  </div>
								<div class="card-body">
									<input type="hidden" name="title" value={{value['title']}}>
									<p class="card-text" style="white-space: pre-wrap;">{{value['detail']}}</p>
									<div class="text-center">
									<p class="text-center" style="100%">価格 ￥{{value['price']}}</p>
									<input type="hidden" name="price" value={{value['price']}}>
										<div class="btn-group" type='center'>
											<input type="number" name="count" maxlength="1" step="1" placeholder="数量を入力" style="width:50%;">
											<button type="submit" class="btn btn-sm btn-outline-secondary" style="width:50%;">カートに入れる</button>
											{% if login == true %}
												<section class="post" data-wantname="{{ want_name }}">
													<div
														class="btn-want {{active}}">
														<i class="fa-heart fa-lg px-16 {{icon}}"></i>
														<span></span>
													</div>
												</section>
												{% else %}
											{% endif %}
										</form>
									</div>
								</div>
							</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-xs-6">
                  </div>
		<div class="card">
									<a href="#">
                  <img src="{{APP_URL}}{{book_image}}" class="card-img-top" alt="">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">関連書籍</h5>
    <p class="card-text">書籍名：{{book_data['title']}}</p>
    <p class="card-text">記載ページ：{{value['page']}}</p>
									</a>
    <p class="card-text">効能：{{value['ctg2']}}</p>
    <p class="card-text">発売日：{{book_data['date']}}</p>
  </div>
</div>
  </div>
<div class="col-sm-8 col-xs-6">
<div class="row">
<h3 class="text-center">オススメ関連商品</h3>
			<ul class="slider">
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
			</ul>
		</div>
			<ul class="slider">
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
				<li>
					<a href="#"><img class="img-thumbnail" alt="画像1" src="../../../shopping/image/chou.jpg"/></a>
				</li>
			</ul>
		</div>
		</div>

	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
</div></div>
</div>


			</div>
      </div>
		</main>
		{% include "common/footer.html.twig" %}